<a href="https://colab.research.google.com/github/umeshsureban/AI-For-Beginners/blob/main/1_1_Basics_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Python Basics: A Comprehensive Guide

###1. Introduction to Python
Python is a high-level, interpreted programming language known for its simplicity and readability. It's widely used in various fields, including web development, data science, artificial intelligence, and more.


To run Python code in this notebook, simply click the play button next to each code cell or press Shift+Enter.

###2. Variables and Data Types
In Python, you can create variables simply by assigning a value to a name.

In [ ]:
# Integer
age = 25

print(age)

In [ ]:
type(age)

In [ ]:
# Float
height = 1.75

print(height)

In [ ]:
type(height)

In [ ]:
# String
name = "Satvik"
print("Name: " + name)

In [ ]:
print(type(name))

In [ ]:
# Boolean
is_student = True
print("Is Student: " + str(is_student))
print(type(is_student))

In [ ]:
# create

###2.1 Lists
Lists are ordered collections of items.

In [ ]:
fruits = ["apple", "banana", "cherry"]

fruits

In [ ]:
type(fruits)

In [ ]:
print("Fruits: ", fruits, ", Type: ", type(fruits))

In [ ]:
len(fruits)

In [ ]:
fruits[0]

In [ ]:
fruits[1]

In [ ]:
fruits[-1]

In [ ]:
# Accessing elements
print("First fruit: ", fruits[0])
print("Last fruit: ", fruits[-1])

In [ ]:
# Modifying lists
fruits.append("date")
print("After appending 'date': ", fruits)

fruits.remove("banana")
print("After removing 'banana': ", fruits)

###2.2 Dictionaries
Dictionaries are collections of key-value pairs.

In [ ]:
persons = {
    "name": "Bob",
    "age": 30,
    "city": "New York"
}

persons

In [ ]:
type(persons)

In [ ]:
# Accessing values
persons['name']

In [ ]:
persons['city']

###3.1 If-Else Statements

In [ ]:
age = 67

if age < 18:
    print("You are a minor")
elif age >= 18 and age < 65:
    print("You are an adult")
else:
    print("You are a senior citizen")

###3.2 For Loops

In [ ]:
# Looping through a list
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

In [ ]:
# Looping with range
for i in range(5):
    print(i)

###3.3 While Loops

In [ ]:
count = 0
while count < 5:
    print(count)
    count += 1

###4. Functions
Functions allow us to organize our code into reusable blocks.

In [ ]:
# Defining a function

def greet(name):
    return f"Hello, {name}!"

In [ ]:
# Calling the function

message = greet("Alice")
print(message)

In [ ]:
# Function with multiple parameters

def ab_square(a,b):
  return a**2 + b**2 + 2*a*b

In [ ]:
# Calling the function

ab_square(2,3)

###5. Working with Libraries

###Matplotlib
Matplotlib is a plotting library for creating static, animated, and interactive visualizations.

In [ ]:
import matplotlib.pyplot as plt

# Create a simple line plot
x = [1, 2, 3, 4, 5]
y = [2, 4, 6, 8, 10]

plt.plot(x, y)
plt.xlabel('X-axis')
plt.ylabel('Y-axis')
plt.title('Simple Line Plot')
plt.show()

###Pandas
Pandas is a data manipulation and analysis library.

In [ ]:
import pandas as pd

# Create a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'San Francisco', 'Los Angeles']}
df = pd.DataFrame(data)
print(df)

In [ ]:
# Basic operations
print("\nMean age:", df['Age'].mean())
print("\nFiltered data:")
print(df[df['Age'] > 28])

### OpenAI

In [ ]:
!pip install openai

In [ ]:
import os
from google.colab import userdata

os.environ["OPENAI_API_KEY"] = userdata.get('OPENAI_API_KEY')

In [ ]:
from openai import OpenAI
client = OpenAI()

completion = client.chat.completions.create(
    model="gpt-4o",
    messages=[
        {
            "role": "user",
            "content": "Write a haiku about Python."
        }
    ]
)

print(completion.choices[0].message.content)